{:tasks
 {clean
  {:doc "Cleans up any build artifacts"
   :task (shell "clojure -T:build clean")}


  compile:java
  {:doc "Compiles the java files"
   :task (shell "clojure -T:build compile-java")}


  compile:clj
  {:doc "Compiles the Clojure files"
   :task (shell "clojure -T:build compile-clj")}

  build:check
  {:doc "Checks that source compiles."
   :depends [clean compile:java compile:clj]}

  build:jar
  {:doc "Builds a jar file"
   :task (shell "clojure -T:build jar")}


  install
  {:doc "Install into local Maven repo cache"
   :task (shell "clojure -T:build install")}


  deploy
  {:doc "Deploy to clojars."
   :depends [build:jar]
   :task (shell "clojure -T:build deploy")}


  cider
  {:doc "Runs the repl"
   :task (shell "clj -M:dev:test:debug:cider")}

  test
  {:doc "Runs clojure tests"
   :depends [compile:java]
   :task (shell "clojure -M:dev:test default")}

  test:ff
  {:doc "Runs clojure tests stopping on first failure."
   :task (shell "clojure -M:dev:test default --fail-fast")}

  test:focus
  {:doc "Runs a specific clojure tests referenced by namespace or fully qualified var."
   :task (let [named-test (first *command-line-args*)]
           (when-not named-test
             (lib/sys-exit 1 "no namespace or fully qualified var specified"))
           (shell (str "clojure -M:dev:test --focus " named-test)))}}}
