{:deps {org.clojure/clojure {:mvn/version "1.11.1"}
        org.clojure/data.int-map {:mvn/version "1.0.0"}
        clojure.java-time/clojure.java-time {:mvn/version "0.3.3"}
        com.cognitect/transit-clj {:mvn/version "1.0.329"}
        org.clojure/data.fressian {:mvn/version "0.2.1"}
        com.taoensso/nippy {:mvn/version "3.1.1"}
        org.cojen/cojen {:mvn/version "2.2.5"}
        com.github.cojen/Tupl {:mvn/version "1.5.3.3"} ;;:exclusions [net.java.dev.jna/jna-platform]
        org.apache.commons/commons-pool2 {:mvn/version "2.11.1"}
        org.apache.commons/commons-compress {:mvn/version "1.10"}
        org.iq80.snappy/snappy {:mvn/version "0.4"}}

 :paths ["src/clj" "target/classes"]

 :aliases {:build {:deps {io.github.clojure/tools.build {:git/tag "v0.8.2" :git/sha "ba1a2bf"}}
                   :ns-default build}
           :walkthrough {:jvm-opts ["-Dmy.prop=val" "-Xmx25g"]}}

 :deps/prep-lib {:ensure "target/classes"
                 :alias :build
                 :fn compile-java}

 :mvn/repos {"jitpack.io" {:url "https://jitpack.io"}}}
