#kaocha/v1
{:kaocha.hooks/pre-run [conceptual.test.core/kaocha-pre-hook!]
 :kaocha.hooks/post-run [conceptual.test.core/kaocha-post-hook!]
 :tests    [{:id :default
             :test-paths ["test"]}]
 :plugins  [:hooks
            :kaocha.plugin/profiling
            :kaocha.plugin/print-invocations
            :kaocha.plugin/notifier]
 :reporter kaocha.report/documentation
 :cli-options
 {:config-file "test/tests.edn"
  :print-config true}}
